<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> 
  <head>
    <title>Favorite Locations</title>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

      <h1>Favorite Locations</h1>

      <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>place_id</th>
                <th>name</th>
                <th>latitude</th>
                <th>longitude</th>
                <th>Get Earthquake</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="f: ${locations}"> 
                <td th:text="${f.id}"> </td>
                <td th:text="${f.placeId}">  </td>
                <td th:text="${f.name}"></td>
                <td th:text="${f.latitude}"></td>
                <td th:text="${f.longitude}"></td>
                <td><a th:href="@{/earthquakes/search/(lat=${f.latitude},lon=${f.longitude},location=${f.name})}">Get Earthquakes</a></td>
                <td>
                  <form th:method="delete" th:action="@{/locations/delete/} + ${f.id}">
                    <input type="submit" class="btn btn-danger" value="Delete" />
                  </form>
                </td>
            </tr>
        </tbody>
    </table>

      <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  </body>
</html>
